/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs/pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-html5-1.1.0,b-print-1.1.0,r-2.0.0
 *
 * Included libraries:
 *   pdfmake 0.1.18, DataTables 1.10.10, Buttons 1.1.0, HTML5 export 1.1.0, Print view 1.1.0, Responsive 2.0.0
 */

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important
}
table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
    text-align: center
}
table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 30px
}
table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
    outline: none
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5
}
table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150"
}
table.dataTable thead .sorting_asc:after {
    content: "\e155"
}
table.dataTable thead .sorting_desc:after {
    content: "\e156"
}
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    color: #eee
}

table.table-bordered.dataTable {
    border-collapse: separate !important
}
table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
    border-left-width: 0
}
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
    border-right-width: 0
}
table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
    border-bottom-width: 0
}

table.dataTable>tbody>tr.child {
    padding: 0.5em 1em
}
table.dataTable>tbody>tr.child:hover {
    background: transparent !important
}
table.dataTable>tbody>tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0
}
table.dataTable>tbody>tr.child ul li {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0
}
table.dataTable>tbody>tr.child ul li:first-child {
    padding-top: 0
}
table.dataTable>tbody>tr.child ul li:last-child {
    border-bottom: none
}

table.dataTable>tbody>tr.can-edit {
    cursor:pointer
}

table.dataTable .actions {
    width: 70px;
}
table.dataTable .actions a {
    margin-left: 10px;
}
table.dataTable .actions a .delete-icon:hover {
    color: #da0000 !important;
}

table.dataTable .actions a .fa:hover {
    color: #024c85;
}



